env/
Include/
Lib/
Scripts/
pyvenv.cfg

#pycache 폴더 및 *.pyc 파일
pycache/
*.py[cod]

#Jupyter Notebook 체크포인트
.ipynb_checkpoints/

#OS별 숨김 파일
.DS_Store
Thumbs.db

#환경설정
*.env
*.log

#모델/데이터 파일 무시
*.h5
*.pt
*.pth
*.zip
*.tar.gz

*.png